In [2]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,High Level,CA,2022-01-26 02:11:26,58.5169,-117.1360,33.60,98,100,12.08
1,1,Hithadhoo,MV,2022-01-26 02:11:27,-0.6000,73.0833,81.23,67,100,18.45
2,2,Sattahip,TH,2022-01-26 02:09:34,12.6664,100.9007,84.97,89,20,0.00
3,3,Gravdal,NO,2022-01-26 02:11:27,68.1214,13.5031,34.86,98,100,19.51
4,4,Nizhniy Tsasuchey,RU,2022-01-26 02:11:27,50.5167,115.1333,2.08,82,28,8.90

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Assk the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip75
What is the maximum temperature you would like for your trip90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hithadhoo,MV,2022-01-26 02:11:27,-0.6000,73.0833,81.23,67,100,18.45
2,2,Sattahip,TH,2022-01-26 02:09:34,12.6664,100.9007,84.97,89,20,0.00
14,14,Rikitea,PF,2022-01-26 02:11:29,-23.1203,-134.9692,78.28,76,100,15.88
16,16,Mana,GF,2022-01-26 02:11:30,5.6592,-53.7767,76.50,85,88,8.59
18,18,Georgetown,MY,2022-01-26 02:09:01,5.4112,100.3354,82.33,74,20,4.61
21,21,Hilo,US,2022-01-26 02:10:47,19.7297,-155.0900,77.25,81,9,1.01
22,22,Sao Joao Da Barra,BR,2022-01-26 02:11:31,-21.6403,-41.0511,75.38,90,2,12.28
24,24,Mar Del Plata,AR,2022-01-26 02:11:32,-38.0023,-57.5575,76.08,98,75,8.01
25,25,Mitsamiouli,KM,2022-01-26 02:11:32,-11.3847,43.2844,80.94,76,100,9.31
37,37,Namatanai,PG,2022-01-26 02:11:34,-3.6667,152.4333,85.60,67,79,6.15

In [24]:
preferred_cities_df.count()

City_ID       136
City          136
Country       136
Date          136
Lat           136
Lng           136
Max Temp      136
Humidity      136
Cloudiness    136
Wind Speed    136
dtype: int64

In [25]:
# Create DataFrame called hotel_df to  store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
1           Hithadhoo      MV     81.23  -0.6000   73.0833
2            Sattahip      TH     84.97  12.6664  100.9007
14            Rikitea      PF     78.28 -23.1203 -134.9692
16               Mana      GF     76.50   5.6592  -53.7767
18         Georgetown      MY     82.33   5.4112  100.3354
21               Hilo      US     77.25  19.7297 -155.0900
22  Sao Joao Da Barra      BR     75.38 -21.6403  -41.0511
24      Mar Del Plata      AR     76.08 -38.0023  -57.5575
25        Mitsamiouli      KM     80.94 -11.3847   43.2844
37          Namatanai      PG     85.60  -3.6667  152.4333

In [28]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to location key for the params dictionary.
    params['location'] = f'{lat},{lng}'
    
    # Use the search term: 'Lodging' and our latitude and longitude.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Hithadhoo,MV,81.23,-0.6000,73.0833,Scoop Guest House
2,Sattahip,TH,84.97,12.6664,100.9007,Pob Choke Residences ( พบโชคเรดซิเด้นท์ )
14,Rikitea,PF,78.28,-23.1203,-134.9692,People ThankYou
16,Mana,GF,76.50,5.6592,-53.7767,LE SAMANA
18,Georgetown,MY,82.33,5.4112,100.3354,Cititel Penang
...,...,...,...,...,...,...
549,Trinidad,BO,77.09,-14.8333,-64.9000,Hotel Piesta
552,Sola,VU,81.70,-13.8833,167.5500,Leumerus Bungalows
553,Crateus,BR,76.48,-5.1783,-40.6775,Orient Plaza Hotel
566,Sinnamary,GF,76.23,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
567,Gigmoto,PH,79.03,13.7796,124.3900,Cj's Travellers Inn

In [38]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[['Lat','Lng']]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [40]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))